<div class="chat-container">
  <div class="chat-header">
    <span>Chat Rooms</span>
    <span class="create-room-button" (click)="onCreateRoom()">+</span>
  </div>
  <div class="chat-list">
    <div 
      *ngFor="let room of rooms" 
      class="chat-room" 
      >
      <div class="avatar">{{ room.name.charAt(0) }}</div>
      <div class="chat-details">
        <div class="chat-room-name">{{ room.name }}</div>
        <div class="last-message">
          {{ room.messages.length ? room.messages[room.messages.length - 1].content : 'No messages yet' }}
        </div>
      </div>
    </div>
  </div>
</div>
