<mat-toolbar color="primary" class="navbar">
    <!-- App Logo -->
    <div class="toolbar-content">
        <button mat-icon-button (click)="toggleSidenav()" class="menu-btn">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="app-title">ChatApp</span>
    </div>

    <!-- Desktop Links -->
    <div class="nav-links" fxLayoutAlign="end">
        <a mat-button href="/">Home</a>
        <a mat-button href="/chat">Messages</a>
        
        <a mat-button *ngIf="currentUser; else loginTemplate" (click)="onLogout()">Logout</a>
        <ng-template #loginTemplate>
            <a mat-button href="/login">Login</a>
        </ng-template>
    </div>
</mat-toolbar>

<!-- Sidenav for Mobile -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="false">
        <a mat-list-item routerLink="/home" (click)="closeSidenav()">Home</a>
        <a mat-list-item routerLink="/contacts" (click)="closeSidenav()">Contacts</a>
        <a mat-list-item routerLink="/settings" (click)="closeSidenav()">Settings</a>
    </mat-sidenav>

    <!-- <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content> -->
</mat-sidenav-container>