<div class="messages-container">
  <div class="messages-list">
    <div *ngFor="let message of messages" class="message-item">
      <div class="message-content">
        <strong>{{ message.sender.username }}:</strong> {{ message.content }}
      </div>
      <div class="message-time">
        {{ message.createdAt | date: 'shortTime' }}
      </div>
    </div>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="message-form">
    <input formControlName="content" placeholder="Type a message..." />
    <button type="submit" [disabled]="messageForm.invalid">Send</button>
  </form>
</div>
