<div class="auth-container">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" [(ngModel)]="username" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password" required />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
            Login
        </button>
    </form>

     <div style="margin-top: 10px;">
        Didn't have a account? <a href="/register">SignUp</a>
     </div>
</div>