<div class="home-container">
  <!-- Welcome message -->
  <div class="welcome-message">
    <h1>Welcome to the Chat App!</h1>
    <p>Hello{{currentUser ? ',' : ''}} {{ currentUser }}! Here are the available users:</p>
    <p>
      Start a chat by clicking on a user's name.
    </p>
  </div>

  

  <!-- Users List -->
  <div class="users-list">
    <ul>
      <li *ngFor="let user of users">
        <div class="user-card">
          <div class="avatar">
            {{user.username.toUpperCase()[0]}}
          </div>
          <div class="user-info">
            <h3>{{ user.username }}</h3>
          <button (click)="currentUser ? navigateToChat(user.id) : navigateToLogin()">
            Chat
          </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
